<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>ToDo</title>
    <style type="text/css">
        body{
            background: rgb(34,193,195);
            background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
            box-sizing: border-box;
        }
        *{
            font-family: 'Poppins', sans-serif;
        }
        #task-container{
            max-width: 600px;
            margin: 4rem auto;
            box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0px 10px 10px rgba(0,0,0,0.22);
            background-color: whitesmoke;
            justify-content: space-around;
            align-items: flex-start;            
        }
        #form-wrapper{
            position: -webkit-sticky;
            position: sticky;
            top:0rem;
            border-bottom: 0 3px 8px rgba(0,0,0,0.25);
            background-color: whitesmoke;
            padding: 1rem;
        }
        .flex-wrapper{
            display: flex;
        }
        .task-wrapper{
            padding: 20px;
            cursor: pointer;
            border-bottom: 1px solid #18181E;
            color: #686868;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="task-container">
            <div id="form-wrapper">
                <form id="form">
                    <div class="flex-wrapper">
                        <div style="flex: 6">
                            <input id="title" type="text;reset" class="form-control" name="title" placeholder="Add task">
                        </div>
                        <div style="flex:1">
                            <input id="submit" class="btn btn-outline-success" type="submit" style="margin-left: 0.2rem;">
                        </div>
                    </div>
                </form>
            </div>
            <div id="list-wrapper">

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function getCookie(name){
            var cookieValue = null;
            if (document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++){
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length+1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        var activeItem = null;

        var list_snapshot = [];

        buildList();

        function buildList(){
            var wrapper = document.getElementById('list-wrapper');
            //wrapper.innerHTML = ''
            try{
                document.getElementById(`data-row-${i}`).remove()
            }catch(err){

            }
            var url = 'http://127.0.0.1:8000/api/task-list/';
            fetch(url).then((resp) => resp.json()).then(function(data){
                var list = data;
                for(var i=0;i < list.length;i++){
                        try{
                            document.getElementById(`data-row-${i}`).remove()
                        }catch(err){

                        }
                    var title = `<span class="title">${list[i].title}</span>`
                    if (list[i].completed){
                        title = `<strike class="title">${list[i].title}</strike>`
                    };
                    var item = `
                    <div id="data-row-${i}" class="task-wrapper flex-wrapper">
                        <div style="flex:7">
                            ${title}
                        </div>
                        <div style="flex:1">
                            <button class="btn btn-outline-info edit">Edit</button>
                        </div>
                        <div flex="flex:1">
                            <button class="btn btn-outline-dark delete">-</button>
                        </div>
                    </div>
                    `
                    wrapper.innerHTML += item;
                }
                if (list_snapshot.length > list.length){
                    for(var i = list.length; i < list_snapshot.length;i++){
                        document.getElementById(`data-row-${i}`).remove()
                    }
                }
                list_snapshot = list
                for (var i in list){
                    var editBtn = document.getElementsByClassName('edit')[i]
                    var deleteBtn = document.getElementsByClassName('delete')[i]
                    var title = document.getElementsByClassName('title')[i]
                    editBtn.addEventListener('click', (function(item){
                        return function(){
                            editItem(item)
                        };
                    }(list[i])))
                    deleteBtn.addEventListener('click', (function(item){
                        return function(){
                            deleteItem(item)
                        };
                    }(list[i])))
                    title.addEventListener('click', (function(item){
                        return function(){
                            strikeUnstrike(item)
                        };
                    }(list[i])))
                };
            });
        }
        var form = document.getElementById('form-wrapper');
        form.addEventListener('submit', function(e){
            e.preventDefault()
            var url = 'http://127.0.0.1:8000/api/task-create/';
            if (activeItem != null){
                var url = `http://127.0.0.1:8000/api/task-update/${activeItem.id}/`
                activeItem = null;
            };
            var title = document.getElementById('title').value
            fetch(url, {
                method: 'POST',
                headers: {'Content-type': 'application/json', 'X-CSRFToken': csrftoken, },
                body: JSON.stringify({'title': title})
            }).then(function(res){
                buildList();
                document.getElementById('form').reset();
            });
        });

        function editItem(item){
            activeItem = item;
            document.getElementById('title').value = activeItem.title
            document.getElementById('title').focus() 
        };

        function deleteItem(item){
            var url = `http://127.0.0.1:8000/api/task-delete/${item.id}/`
            fetch(url, {
                method: 'DELETE',
                headers: {'Content-type': 'application/json', 'X-CSRFToken': csrftoken, },
            }).then(resp => {
                buildList();
            })
        };
        function strikeUnstrike(item){
            item.completed = !item.completed 
            var url = `http://127.0.0.1:8000/api/task-update/${item.id}/`
            fetch(url, {
                method: 'POST',
                headers: {'Content-type': 'application/json', 'X-CSRFToken': csrftoken, },
                body: JSON.stringify({
                    'title': item.title,
                    'completed': item.completed,
                })
            }).then((resp) => {
                buildList();
            })
        };
    </script>
</body>
</html>